* {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* body {
  background-color: #4f5f70;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #336497;
  color: white;
  min-height: 20vh;
  width: 100%;
  flex-grow: 1;
}

#auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: #294059;
  width: 40vw;
  border-radius: 10px;
  color: aliceblue;
  flex-grow: 2;
}

#auth-container > * {
  margin: 2vh;
}

#auth-container > input {
  padding: 1vh;
  width: 80%;
  font-size: large;
}

#auth-container > label {
  font-weight: bold;
  font-size: large;
}

#auth-container  button {
  padding: 1vh;
  width: 20vw;
  background-color: seagreen;
  font-size: medium;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #16182b;
  width: 100%;
  color: aliceblue;
  min-height: 10vh;
  
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  background-color: #294059;
  margin-top: 2vh;
  width: 100%;
  color: aliceblue;
  min-height: 80vh;
  height: 80%;
}

main > * {
  padding: 2%;
  margin-bottom: 2%;
  background-color: #16182b;
  border-radius: 10px;
}

#nav {
  display: flex;
  justify-content: space-around;
  background-color: #16182b;
  color: aliceblue;
  padding: 10px;
  width: 100%;
}

#nav a {
  text-decoration: none;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 5px;
}

#nav a:hover {
  background-color: #336497;
}

#container {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 30vh;
}

#container a {
  color: aliceblue;
  text-decoration: underline;
}

#container li {
  background-color: #414dbd;
  margin-top: 2vh;
  padding: 1%;
  list-style: none;
}

#container li:hover {
  background-color: rgb(144, 174, 200);
}

#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.main-container > * {
  background-color: black;
  border-radius: 10px;
  margin: 10px;
  padding: 30px;
  width: 45%;
  
}

#buscar {
  background-color: #000000;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#buscar h2 {
  color: #336497;
}

#searchForm {
  display: flex;
  flex-direction: column;
}

#searchForm label {
  margin-bottom: 8px;
}

#searchForm input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#searchForm button {
  background-color: #336497;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchForm button:hover {
  background-color: #1c3557;
}

#container {
  list-style: none;
  padding: 0;
}

#container li {
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  color: #000000;
}

#container li a {
  color: #336497;
  font-weight: bold;
}

#container li:hover {
  background-color: #9199a7;
}

#navio-options {
  display: flex;
  flex-direction: column;
}

#navio-options a{
  color: rgb(0, 3, 5);
  background-color: #ccc;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
#navio-options a:hover{
  background-color: #948383;
}

#navio-container{
  display: flex;
  flex-direction: row;
}



#templates > * {
  margin: 20px;
  background-color: #1c3557;
  padding: 10px;
  list-style: none;
}

 */
